.custom-navbar {
  padding: 5px 15px; 
}

.custom-navbar .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

.custom-navbar .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin-right: 15px; 
}